<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
<link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" href="/static/images/fox.ico" type="image/ico" sizes="32x32">
    <meta charset="UTF-8">
    <title>Полезный сайт</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="/static/css/script.js"></script>
</head>
<body>
<div id="leftHalf"></div>
<div id="rightHalf"></div>

<h2 align="center">Нажмите на меню, чтобы узнать, <br>что можно сделать на этом сайте:</h2>
<br>
<a href="#menu" id="toggle"><span></span></a>

<div id="menu">
  <ul>
    <li><a href="/pos">Получить разбор текста по частям речи</a></li>
    <li><a href="/groups">Получить список подписчиков двух ВК-групп</a></li>
    <li><a href="/ocr">Распознать текст с картинки</a></li>
    <li><a href="/chat">Поговорить с чат-ботом</a></li>
  </ul>
</div>
<br>
<br>
<p align="center">Исходный код этого сайта находится <a href="https://github.com/Lera-Z/FlaskProject">здесь</a> </p>
<p align="center">Автор этого сайта - <a href="https://github.com/Lera-Z">Зеленкова Лера</a></p>

</body>
</html>