<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/static/images/fox.ico" type="image/ico" sizes="32x32">
    <title>Части речи слов</title>
    <style>
    </style>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      google.charts.load('current', {'packages':['corechart'], 'language': 'ru'});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Лемма');
        data.addColumn('number', 'Количество');
        data.addRows([
          {% for lemma, num in data.items() %}
              ['{{ lemma }}', {{ num }}],
          {% endfor %}
        ]);

        var options = {'title':'Леммы',
                       'width':600,
                       'height':300,
                        'legend': { position: "none" }};

        var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
</head>
<body>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <form method='post'>
        <h1>Ваш текст:</h1>
        <textarea rows="4" cols="50" name="text">{{ input }}</textarea>
        <br>
        <input type="submit" value="Разобрать">
    </form>

    {% if text %}
        <div id="chart_div"></div>
        <h1>Разбор:</h1>
    <h2>Переходность:</h2>
    {% for name, number in dict_trans.items() %}
        {{ name }} - {{ number }}
    <br>
    {% endfor %}
    <h2>Вид</h2>
  {% for name, number in dict_vid.items() %}
        {{ name }} - {{ number }}
<br>
    {% endfor %}
    <h2>Количество глаголов в тексте</h2>
    {{ verbs }}
    <h2>Леммы, отсортированные по частоте:</h2>
  {% for name in freqs %}
        {{ name[0]}} - {{name[1]}}
<br>
    {% endfor %}
{% endif %}
</body>
</html>